@using Lab1_RicardoChian_PabloGarcia.Controllers

@{
    ViewBag.Title = "Crear empleado *.CSV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear empleado por medio de archivo *.csv</h2>

@using (Html.BeginForm("CrearPorArchivo", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="exampleInputFile">Entrada de archivo</label>
    <input type="file" class="form-control-file" name="postedFile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">Tipo de archivo *.csv, debe de contener nombre y código del empleado.</small>

    <button type="submit" class="btn btn-primary">Subir</button>
}
